extends ../layout/base
block content 
    video#video
    button#recorderBtn 🎥
    form(method="POST" enctype="multipart/form-data") 
        label(for="video") video
        input(name="video" id="video" type="file" accept="video/*") 
        input(placeholder="title of video" name="title" type="text" required)
        input(placeholder="description of video" name="description" type="text" required)
        input(placeholder="hashtags by comma" name="hashtags" type="text" required)
        input(type="submit" value="upload new video")
    include ../partials/footer.pug
block script 
    script(src="/js/recorder.js") 