extends ../layout/base
block content 
    form(method="POST") 
        input(placeholder="title of video" name="title" type="text" required)
        input(placeholder="description of video" name="description" type="text" required)
        input(placeholder="hashtags by comma" name="hashtags" type="text" required)
        input(type="submit" value="upload new video")
    include ../partials/footer.pug