doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/css/styles.css")
        title minjitube
    body 
        ul
            a(href="/") home 
        ul 
                a(href="/search") search 
        if loggedIn
            ul
                a(href="/user/logout") logout 
            ul 
                a(href="/user/edit/profile") edit of my profile
            ul 
                a(href="/user/see/profile") #{loginUser.username}의 profile
            ul 
                a(href="/upload") upload 
        else 
            ul
                a(href="/user/login") login
            ul
                a(href="/user/join") join 
        main 
            h1=pageTitle
            block content 
        script(src="/js/main.js") 
        block script 

