extends ../layout/base
block content
    if errorMsg     
        span=errorMsg
    form(method='POST')
        input(placeholder="original password",name="oldPassword" ,type="password",required )
        input(placeholder="new password",name="newPassword", type="password",required )
        input(placeholder="confirm password",name="newPassword2", type="password",required )
        input(value="change password ",type="submit")
    hr
    include ../partials/footer
