extends ../layout/base
block content
    if errorMsg     
        span=errorMsg
    img(src='/'+loginUser.avatarUrl width="100" height="100")
    form(method='POST' enctype="multipart/form-data")
        label(for="avatar") avatar
        input(name="avatar" id="avatar" type="file" accept="image/*") 
        input(placeholder="user name",name="username" ,type="text",required value=loginUser.username)
        input(placeholder="email",name="email", type="email",required value=loginUser.email)
        input(placeholder="location",name="location", type="location",required value=loginUser.location)
        input(value="edit profile",type="submit")
    hr
    ul 
        a(href="/user/change/password") change password
    include ../partials/footer
